/.tmp
/remotion/node_modules
/node_modules
.env
/assets/*.mp4
/assets/*.mov
/base*.mp4
/base*.mov
/jet.mp4
/script.mp4
/titled.mp4
/scripts.json
/scripts_base.json
/scripts_merged.json
/remotion/public/base.mp4
/remotion/public/*.mp4
